body {
  background-color: rgb(31, 31, 36);
  background-image: url("https://i.pinimg.com/originals/f6/22/20/f6222042b4c16dd627d942e949e13c18.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #FDFEFF;
}

button {
  padding: 10px;
  margin: 20px;
  min-width: 100px;
  border-radius: 15%;
}

button:active {
  transform: scale(92%);
}

.hover:hover{
  background-color: black;
}

h2 {
  margin-top: 7%;
  margin-bottom: 20px;
  text-align: center;
  width: 600px;
  height: 200px;
}

img {
  max-width: 100px;
  max-height: 100px;
  filter: invert(1);
}

.score, .scoreNumber {
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
  padding: 10px;
  width: 60%;
  min-width: 100px;
}

.score {
  margin-bottom: 0px;
  font-size: x-large;
  font-weight: 700;
}

.scoreNumber {
  margin-right: 45px;
  margin-left: 45px;
  margin-top: 0px;
}

.buttonContainer {
  display: flex;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: gainsboro;
  text-align: center;
  padding: 5px;
  opacity: 30%;
}

.footer:hover {
  opacity: 100%;
}

#github {
  vertical-align: sub;
  width: 20px;
  height: 20px;
}

#github:hover{
  animation: wiggle 2s;
}

@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-20deg);
  }
  20% {
    transform: rotateZ(14deg);
  }
  25% {
    transform: rotateZ(-14deg);
  }
  30% {
    transform: rotateZ(10deg);
  }
  35% {
    transform: rotateZ(-8deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}
